[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ariadne"
version = "0.18.1"
description = "Ariadne is a Python library for implementing GraphQL servers."
authors = [{ name = "Mirumee Software", email = "hello@mirumee.com" }]
readme = "README.md"
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: BSD License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = [
  "graphql-core>=3.2.0,<3.3",
  "starlette>0.17,<1.0",
  "typing_extensions>=3.6.0",
]

[project.optional-dependencies]
dev = ["black", "mypy", "pylint"]
test = [
  "pytest",
  "pytest-asyncio",
  "pytest-benchmark",
  "pytest-cov",
  "pytest-mock",
  "freezegun",
  "snapshottest",
  "werkzeug",
  "httpx",
  "opentracing",
  "python-multipart>=0.0.5",
  "aiodataloader",
  "graphql-sync-dataloaders;python_version>\"3.7\"",
]
asgi-file-uploads = ["python-multipart>=0.0.5"]
tracing = ["opentracing"]

[project.urls]
"Homepage" = "https://ariadnegraphql.org/"
"Repository" = "https://github.com/mirumee/ariadne"
"Bug Tracker" = "https://github.com/mirumee/ariadne/issues"
"Community" = "https://github.com/mirumee/ariadne/discussions"
"Twitter" = "https://twitter.com/AriadneGraphQL"

[tool.hatch.build]
include = [
  "ariadne/**/*.py",
  "ariadne/**/*.html",
  "ariadne/py.typed",
  "LICENSE",
  "README.md",
  "pyproject.toml",
]
exclude = [
  "tests",
]

[tool.hatch.envs.default]
features = ["dev", "test"]

[tool.hatch.envs.default.scripts]
test = "coverage run -m pytest"

[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | snapshots
)/
'''

[tool.pytest.ini_options]
asyncio_mode = "strict"
testpaths = ["tests"]

[tool.coverage.run]
source = ["ariadne", "tests"]
