black
codecov
django<2.3
freezegun
mypy
opentracing
pylint
pytest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-django
pytest-mock
python-dateutil
python-multipart
requests
snapshottest
types-python-dateutil
werkzeug

pip-tools
